@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Bold.woff2') format('woff2'),
    url('./fonts/Raleway-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-SemiBold.woff2') format('woff2'),
    url('./fonts/Raleway-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/RobotoCondensed-Italic.woff2') format('woff2'),
    url('./fonts/RobotoCondensed-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/RobotoCondensed-Bold.woff2') format('woff2'),
    url('./fonts/RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/RobotoCondensed-LightItalic.woff2') format('woff2'),
    url('./fonts/RobotoCondensed-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/RobotoCondensed-Regular.woff2') format('woff2'),
    url('./fonts/RobotoCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/RobotoCondensed-Light.woff2') format('woff2'),
    url('./fonts/RobotoCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
