@media (max-width: 1200px) {
  .about {
    &__wrapper {
      flex-direction: column-reverse;
      gap: 40px;
    }
    &__content {
      max-width: 100%;
    }
    &__popup {
      max-width: 100%;
      &-wrap {
        max-width: 100%;
        height: 420px;
      }
    }
  }
}
@media (max-width: 1140px) {
  .get {
    &__items {
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 0 20px;
      margin-bottom: 50px;
      justify-content: left;
    }
    &__item {
      max-width: 90%;
      margin-bottom: 40px;
      &-img-title {
        display: flex;
        justify-content: left;
        margin-bottom: 15px;
        gap: 12px;
        height: 56px;
      }
    }
  }

  .get__descr {
    max-width: 50%;
  }
}

@media (max-width: 991px) {
  .navbar {
    color: var(--black);
    background: var(--liner);
    & .logo__link {
      color: var(--black);
    }
    & .menu__item-link:hover {
      border-color: var(--black);
    }
  }
  .burger span,
  .burger span:before,
  .burger span:after {
    height: 5px;
    background-color: var(--black);
  }
  .burger {
    display: block;
  }
  .navbar .menu {
    top: 60px;
    flex-direction: column;
    justify-content: start;
    height: auto;
    font-size: 20px;
    align-items: center;
    gap: 35px;
    background: var(--liner--mob);
    padding: 100px 15px;
    width: 100%;
    position: fixed;
    left: -100%;
    transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar .menu-btn {
    position: relative;
    order: 1;
    width: 40px;
    height: 40px;
  }
  .navbar .menu.animate {
    left: 0;
  }
  .hero__title {
    font-size: 9rem;
  }
  .get {
    &__inner {
      flex-direction: column;
      gap: 50px;
    }
    &__info {
      max-width: 80%;
    }
    &__descr {
      max-width: 90%;
    }
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 35px;
    margin-bottom: 50px;
    &::after {
      font-size: 55px;
      line-height: 70px;
    }
  }

  .get {
    padding: 75px 0 50px;
    &__items {
      flex-direction: column;
      margin-bottom: 0;
    }
  }
  .about {
    padding: 50px 0 75px;
  }
  .about__popup-wrap {
    height: 300px;
  }
  .portfolio {
    padding: 50px 0;
  }
  .swiper {
    height: 330px;
    &-btns {
      display: none;
    }
    &-pagination {
      display: none !important;
    }
  }
}
@media (max-width: 690px) {
}
@media (max-width: 575px) {
  .hero__title {
    font-size: 6rem;
  }
  .greeting .title {
    padding: 0;
    margin-bottom: 20px;
    font-size: 1.4rem;
  }
  .quote {
    padding: 50px 0;
    line-height: 35px;
    & .blockquote {
      font-size: 28px;
      &__autor {
        margin-top: 10px;
      }
    }
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 28px;
    line-height: 40px;
  }
  .swiper {
    height: 230px;
  }
}
@media (max-width: 448px) {
  .about__popup-wrap {
    height: 240px;
  }
}
