:root {
  --black: black;
  --white: #fff;
  --main: #abe3ed;
  --green: rgb(0 178 160);
  --yellow: #ffd864;
  --red: rgb(255 112 112);
  --liner: linear-gradient(
    221deg,
    rgb(239, 246, 255, 0.9) 17%,
    rgb(171, 227, 237, 0.9) 100%
  );
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
  background-color: #eff6ff;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.6px;
  color: #01353e;
  text-align: center;
  position: relative;
  padding: 0 49px 0;
  margin-bottom: 100px;
  &::after {
    content: '/';
    position: absolute;
    font-weight: 600;
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 0.6px;
    color: #00b2a0;
  }
}

.header {
  background-image: url('./images/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  &-wrapper {
    display: flex;
    justify-content: center;
  }
}
.navbar {
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--liner);

  &__wrap {
    margin-top: 10px;
    height: 80px;
    transition: all 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & .menu {
    display: flex;
    width: 777px;
    gap: 45px;
    &__item-link {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: var(--black);
      transition: all 0.2s;
      border-bottom: 1px solid transparent;
      padding-bottom: 5px;
      &:hover {
        border-color: var(--black);
      }
    }
  }
  & .logo__link {
    color: var(--black);
  }
}

.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  align-items: center;
  height: 70vh;
  &__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 235px;
    letter-spacing: 0.6px;
    color: #0d302c;
  }
  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: #000000;
  }
  &__btn {
    margin-top: auto;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #ffffff;
    padding: 24px 60px;
    border: none;
    background: #0d0f0f;
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      background-color: #0d0f0f;
      color: #00b2a0;
      opacity: 1;
    }
  }
}

.button {
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
  padding: 24px 80px;
  border: 1px solid #c4c4c4;
  background: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: #00b2a0;
    border-color: #00b2a0;
  }
}

.get {
  padding: 150px 0 75px;
  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  &__item {
    max-width: 350px;
    &-title {
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.6px;
      color: #242121;
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 150px;
    }
    &-img-title {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
      gap: 12px;
      height: 56px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .img-wrap {
    width: 55px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__info {
    max-width: 450px;
    width: 100%;
    &-wrap {
      &:last-child {
        & .get__info-item--text {
          padding-bottom: 0;
        }
      }
    }
    &-item {
      display: flex;
      & span {
        font-weight: 400;
        font-size: 24px;
        line-height: 18px;
        letter-spacing: 0.6px;
      }
      &--text {
        padding-bottom: 10px;
      }
    }
    &-img {
      padding: 0 10px 1px 0;
    }
  }
  &__descr {
    max-width: 600px;
    &-text {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.quote {
  padding: 75px 0;
  .blockquote {
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.6px;
    padding: 80px 10px;
    background: var(--main);
    &__autor {
      display: block;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      margin-left: 31%;
    }
  }
}

.about {
  padding: 75px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__title {
    margin-bottom: 70px;
  }
  &__popup {
    max-width: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &-wrap {
      border-radius: 15px;
      overflow: hidden;
      max-width: 500px;
      height: 311px;
      img {
        height: 100%;
      }
    }
    &-link {
      position: absolute;
    }
  }
}
.portfolio {
  padding: 100px 0;
  background: var(--main);
}

.application {
  padding: 100px 0 70px;
  &__title {
    margin-bottom: 100px;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  &__wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 30px;
  }

  &__input {
    height: 60px;
    background-color: inherit;
    border: none;
    display: block;
    width: 100%;
    border-bottom: 1px solid #dadada;
    padding: 0 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #00b2a0;
    outline-color: #00b2a0;
    &::placeholder {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.6px;
      color: #00b2a0;
      width: 260px;
    }
  }
  &__checkbox {
    height: 60px;
    width: 100%;
    padding: 0 70px 0 18px;
    color: #00b2a0;
    border-bottom: 1px solid #dadada;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-label {
      width: 50px;
      height: 50px;
      border: 1px solid #dadada;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      cursor: pointer;
    }
    &-text {
      user-select: none;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.6px;
      cursor: pointer;
      padding: 7px 0;
    }
    &-input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      &:checked + .form__checkbox-item {
        background-color: var(--green);
      }
    }
    &-item {
      width: 35px;
      height: 35px;
      display: block;
      background-color: rgba(0, 0, 0, 0);
      transition: background-color 0.2s;
      border-radius: 4px;
    }
  }

  &__button {
    text-transform: uppercase;
    align-self: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #242121;
    padding: 24px 111px;
    border: 1px solid #242121;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: var(--green);
      border-color: var(--green);
    }
  }
}

.pricing {
  &__title {
    margin-bottom: 180px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    &-link {
      border: 2px solid transparent;
      transition: all 0.2s;
      &:hover {
        border: 2px solid var(--green);
        color: var(--green);
      }
      &.active {
        border: 2px solid var(--green);
        color: var(--black);
        .pricing__item {
          background-color: var(--main);
        }
      }
    }
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 365px;
    height: 430px;
    font-weight: 400;
    color: var(--black);
    padding: 30px;
    &-name {
      display: block;
      text-align: center;
      font-size: 36px;
      line-height: 40px;
      margin-bottom: 30px;
      letter-spacing: 0;
    }
    &-num {
      text-align: center;
      font-size: 36px;
      line-height: 40px;
      letter-spacing: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: auto;
      & span {
        font-size: 18px;
        line-height: 22px;
        margin-left: 5px;
      }
    }
  }
}

.footer {
  background-color: var(--main);
}

.contacts {
  padding: 50px;
  &-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &-wrap {
    display: flex;
    flex-direction: column;
  }
  &__item {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.6px;
    color: var(--black);
    &-title {
      text-align: center;
      margin-bottom: 50px;
    }
    &-link {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0.6px;
      color: var(--black);
      transition: all 0.3s;
      &:hover {
        color: #00b2a0;
      }
    }
  }
}

.status {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  & span:first-child {
    margin-bottom: 10px;
  }
}
.error-description {
  color: rgb(242, 69, 69);
  font-size: 14px;
}
.reg-error {
  color: rgb(242, 69, 69);
  outline-color: rgb(242, 69, 69);
  &::placeholder {
    color: rgb(242, 69, 69);
  }
}

.data {
  padding: 50px 0 100px;
  font-family: 'Raleway';
  font-size: 18px;
  .grid {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 30px 150px 180px 220px 120px 175px 1fr;
    border-bottom: 1px solid var(--main);
  }
  &__inner {
    border-collapse: collapse;
    width: 100%;
  }
  #id {
    font-size: 25px;
    padding-bottom: 5px;
  }
  &__head {
    background: var(--main);
  }
  &__body-items {
    align-items: center;
  }
  &__btns {
    display: flex;
    gap: 35px;
  }
  &__btn {
    letter-spacing: 0.6px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
    height: 30px;
    padding: 0px 18px;
    border: 1px solid var(--black);
    opacity: 0.9;
    &.btn-delete:hover {
      opacity: 1;
      background-color: var(--red);
    }
    &.btn-edit:hover {
      opacity: 1;
      background-color: var(--yellow);
    }
  }
}
